
# Keep only configuration in git
docker/etc/caddy/*
!docker/etc/caddy/Caddyfile
docker/data/caddy/*

# Redis data
docker/data/redis/*

# Graph
docker/data/memgraph/*
docker/logs/memgraph/*

# Vectors
docker/qdrant/storage/*
docker/qdrant/snapshots/*
docker/data/qdrant/storage/*
docker/data/qdrant/snapshots/*

# Rag
docker/data/lightrag/*
docker/logs/lightrag/*

# Secrets
.secrets/

# LobeChat UI
docker/data/lobechat/*

# temporary/debug files
*.log
*.~*~
*.*~

# LLM spec-kit
!.kilocode/

.opencode/
.windsurf/workflows
.codex/
specs/